ai-ecommerce-orchestrator-—-personas-&-journey-workshop-e8Ac0FxQkoo3ovrv.json
{"updatedAt":"2025-10-02T08:19:30.000Z","createdAt":"2025-10-01T11:55:45.828Z","id":"e8Ac0FxQkoo3ovrv","name":"AI Ecommerce Orchestrator — Personas & Journey Workshop","active":false,"isArchived":false,"nodes":[{"parameters":{"fileName":"/tmp/AI_Workshop.md","options":{}},"id":"15a4b122-b43c-4956-b693-7ee8a49464f2","name":"Write Binary File","type":"n8n-nodes-base.writeBinaryFile","typeVersion":1,"position":[0,0]},{"parameters":{"jsCode":"const md = `# Personas & Journey\n\n- Persona: Alex (first-time shopper)\n- Persona: Maria (loyal customer)\n\n**Journey Example:** Alex tries to return a product → confusion about return policy → frustration → opportunity for AI agent.\n`;\n\nreturn [\n  {\n    json: {\n      markdown: md,          // text field\n      fileName: 'AI_Workshop.md'  // filename field\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-528,80],"id":"b03c18c2-81d2-4b38-83f0-71d41320cbda","name":"Build Markdown"},{"parameters":{"name":"=={{$json.fileName}}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"1gQaNxSJh-vHOiG1tuJpQREFeu6Zv_sTy","mode":"list","cachedResultName":"Google AI Studio","cachedResultUrl":"https://drive.google.com/drive/folders/1gQaNxSJh-vHOiG1tuJpQREFeu6Zv_sTy"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[0,160],"id":"f1bab366-47f4-449c-b568-d589f74f25e3","name":"Upload file","credentials":{"googleDriveOAuth2Api":{"id":"1VRjwV3Rv0PdRjMH","name":"Google Drive account"}}},{"parameters":{"operation":"toText","sourceProperty":"markdown","options":{"fileName":"={{$json.fileName}}"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-240,80],"id":"bffc9eee-c9a9-4687-a0ac-7b571eff7216","name":"Convert to File"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-752,64],"id":"54926f7c-efed-4578-84f3-6889ea8ce9f7","name":"When clicking ‘Execute workflow’"}],"connections":{"Build Markdown":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Write Binary File":{"main":[[]]},"Convert to File":{"main":[[{"node":"Write Binary File","type":"main","index":0},{"node":"Upload file","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Build Markdown","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"913b8c8a-e977-44d4-886d-35aa3aa0093e","triggerCount":0,"shared":[{"updatedAt":"2025-10-01T11:55:45.846Z","createdAt":"2025-10-01T11:55:45.846Z","role":"workflow:owner","workflowId":"e8Ac0FxQkoo3ovrv","projectId":"EwgZBnPliNIepNcA"}],"tags":[]}