my-workflow-gI9wGdTGfqLv1uac.json
{"updatedAt":"2025-11-14T11:41:08.000Z","createdAt":"2025-11-12T14:18:56.670Z","id":"gI9wGdTGfqLv1uac","name":"My workflow","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"ac5866ac-004c-4ba6-8580-68728c8f9596","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-48,256],"id":"9c6906ff-b328-46ca-8b2e-5c3aed569323","name":"Webhook","webhookId":"ac5866ac-004c-4ba6-8580-68728c8f9596"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1e8Dz-HSV4MRbSUuMSKk-KCuS3jRxLw3ZWIDt6yD1eNc","mode":"list","cachedResultName":"lead data","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1e8Dz-HSV4MRbSUuMSKk-KCuS3jRxLw3ZWIDt6yD1eNc/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":426375271,"mode":"list","cachedResultName":"lead data","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1e8Dz-HSV4MRbSUuMSKk-KCuS3jRxLw3ZWIDt6yD1eNc/edit#gid=426375271"},"columns":{"mappingMode":"defineBelow","value":{"Search City":"={{ $json['Search City'] }}","GeneratedDate":"={{ $json.GeneratedDate }}","Search Country":"={{ $json['Search Country'] }}","Lead Number":"={{ $json['Lead Number'] }}","Company Name":"={{ $json['Company Name'] }}","Category":"={{ $json.Category }}","Description":"={{ $json.Description }}","Address":"={{ $json.Address }}","City":"={{ $json.City }}","Country":"={{ $json.Country }}","Coordinates":"={{ $json.Coordinates }}","Phone":"={{ $json.Phone }}","Email":"={{ $json.Email }}","Website":"={{ $json.Website }}","LinkedIn":"={{ $json.LinkedIn }}","Facebook":"={{ $json.Facebook }}","Instagram":"={{ $json.Instagram }}","Rating":"={{ $json.Rating }}","Review Count":"={{ $json['Review Count'] }}","Business Hours":"={{ $json['Business Hours'] }}","Quality Score":"={{ $json['Quality Score'] }}","Quality Reasoning":"={{ $json['Quality Reasoning'] }}","Status":"={{ $json.Status }}","Contacted":"={{ $json.Contacted }}","Notes":"={{ $json.Notes }}"},"matchingColumns":["Search City"],"schema":[{"id":"GeneratedDate","displayName":"GeneratedDate","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Search City","displayName":"Search City","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Search Country","displayName":"Search Country","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Lead Number","displayName":"Lead Number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Company Name","displayName":"Company Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Category","displayName":"Category","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Description","displayName":"Description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Address","displayName":"Address","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"City","displayName":"City","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Country","displayName":"Country","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Coordinates","displayName":"Coordinates","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Phone","displayName":"Phone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Website","displayName":"Website","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"LinkedIn","displayName":"LinkedIn","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Facebook","displayName":"Facebook","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Instagram","displayName":"Instagram","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Rating","displayName":"Rating","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Review Count","displayName":"Review Count","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Business Hours","displayName":"Business Hours","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Quality Score","displayName":"Quality Score","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Quality Reasoning","displayName":"Quality Reasoning","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Contacted","displayName":"Contacted","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Notes","displayName":"Notes","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[624,144],"id":"8cba0c18-7627-4a2b-9f66-e4aa2d08c15b","name":"Append or update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"isFXUO1bw5cnfzLo","name":"Google Sheets account"}}},{"parameters":{"fieldToSplitOut":"body","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[240,16],"id":"e30cd8f2-2c2b-4023-b751-6ad4e959e01d","name":"Split Out"}],"connections":{"Webhook":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Append or update row in sheet","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"b4d98894-a0d3-410e-b60d-0818df3c17a7","triggerCount":1,"shared":[{"updatedAt":"2025-11-12T14:18:56.675Z","createdAt":"2025-11-12T14:18:56.675Z","role":"workflow:owner","workflowId":"gI9wGdTGfqLv1uac","projectId":"EwgZBnPliNIepNcA"}],"tags":[]}