secure-webhook-4lR6VEFLRpwsm885.json
{"updatedAt":"2025-10-02T14:20:32.000Z","createdAt":"2025-10-02T14:03:01.473Z","id":"4lR6VEFLRpwsm885","name":"Secure Webhook","active":true,"isArchived":false,"nodes":[{"parameters":{"respondWith":"noData","options":{"responseCode":200}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[0,0],"id":"9e9c6256-ad3d-4e49-bb6b-8e67517b1b99","name":"Respond 200"},{"parameters":{"path":"Agent-front-door","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-672,96],"id":"434a17a6-4751-46a2-9de5-2376071aa053","name":"Webhook","webhookId":"882fa2a4-9c0c-44a2-9b0b-eee28221fd92"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0408e15e-c87a-4df5-a0d7-f6fb10ec5355","leftValue":"={{ $json['x-api-key'] }}","rightValue":"top-secret-key-210","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-224,96],"id":"fd1e26c3-c8a8-4d38-bb83-6c763ffa3c01","name":"Allow?"},{"parameters":{"respondWith":"noData","options":{"responseCode":401}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[0,192],"id":"3a222bd3-c254-4bee-b0a3-446d5eb3195b","name":"Respond 401"},{"parameters":{"assignments":{"assignments":[{"id":"facbf550-85d9-4e5b-82e4-da087468b9da","name":"x-api-key","value":"={{ $json.headers['x-api-key'] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-448,96],"id":"55d65131-c335-40a7-9d07-0f97e706bdc2","name":"Add API Key"}],"connections":{"Webhook":{"main":[[{"node":"Add API Key","type":"main","index":0}]]},"Allow?":{"main":[[{"node":"Respond 200","type":"main","index":0}],[{"node":"Respond 401","type":"main","index":0}]]},"Add API Key":{"main":[[{"node":"Allow?","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"63d139f7-e315-42b8-9c05-119d8dfdca6d","triggerCount":1,"shared":[{"updatedAt":"2025-10-02T14:03:01.488Z","createdAt":"2025-10-02T14:03:01.488Z","role":"workflow:owner","workflowId":"4lR6VEFLRpwsm885","projectId":"EwgZBnPliNIepNcA"}],"tags":[]}